<html>
<head>
<meta charset="utf-8">
  
  <title>Employee Details</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body style="background-color:lightgreen;">
	<aside class="main-sidebar sidebar-dark-olive elevation-4">
		<!-- Brand Logo -->
			<a href="#" class="brand-link">
			  <img src="dist/img/employee.jpg"
				   alt="Employee Logo"
				   class="brand-image img-circle elevation-3">
			  <span class="brand-text font-weight-light">Update Employee</span>
			</a>
			<!-- Sidebar -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<li class="nav-item">
					<a href="/createEmployee" class="nav-link">
					<i class="nav-icon far fa-circle text-info"></i>
						<p>Add Employee</p>
					</a>
					</li>
					<li class="nav-item">
					<a href="/" class="nav-link">
					<i class="nav-icon far fa-circle text-info"></i>
						<p class="text">Employee Details</p>
					</a>
					</li>
					<li class="nav-item">
					<a href="/updateEmployeeDetails" class="nav-link">
					<i class="nav-icon far fa-circle text-info"></i>
						<p class="text">Update Employee Details</p>
					</a>
					</li>
					</li>
					<li class="nav-item">
					<a href="/deleteEmployeeDetails" class="nav-link">
					<i class="nav-icon far fa-circle text-info"></i>
						<p class="text">Detele Employee Details</p>
					</a>
					</li>
	  
				</ul>
			</nav>
			<!-- /.sidebar -->
		</aside>	
		<div class="container-fluid">
        <div class="row" style="margin-left:14%;padding-top:9%;">
          <!-- left column -->
		  <div class=col-md-3>
		  </div>
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Employee Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/UpdateEmployee" method="post">
                <div class="card-body">
				  <div class="form-group">
                    <label for="empId">EmployeeID</label>
                    <input type="text" class="form-control" name="empId" id="empId" placeholder="Enter EmployeeId">
                  </div>
                  <div class="form-group">
                     <label for="salary_more_then_100k">Update Salary More Then 100K</label>
                    <select class="custom-select rounded-0" name="salary" id="salary">
						<option>yes</option>
						<option>No</option>
					</select>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
           </div>
		</div>
		</div>
			
		
</body>
</html>