<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  
  <title>Employee Details</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    fetch("http://localhost:5000/details")
		.then(response => response.json())
		.then(data =>{
			var count=0,count1=0;
			console.log(data[0]['salary_more_then_100k']);
			const map=new Map();
			for(var i=0;i<data.length;i++){
				if(data[i]['salary_more_then_100k']==="yes")count=count+1;
				else count1=count1+1;
				if(map.has(data[i]['job'])===true){
					map.set(data[i]['job'],map.get(data[i]['job']) +1);
				}
				else{
					map.set(data[i]['job'],1);
				}
			}
			// Load google charts
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart1);
		google.charts.setOnLoadCallback(drawChart2);
		// Draw the chart and set the chart values
			function drawChart1() {
			var data = google.visualization.arrayToDataTable([
				['Task', 'Page visit per Day'],
				['Salary_more_than_100k', count],
				['Salary_less_than_100k', count1]
				]);
			// Optional; add a title and set the width and height of the chart
			var options = {title:'SALARY', width:1000, height:350,backgroundColor: '#FA8072',is3D: true};
			// Display the chart inside the <div> element with id="piechart"
			var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
			chart.draw(data, options);
			}
			
			function drawChart2() {
			position=[['Task','Page visit per Day']]
			map.forEach((value,key) =>{
				position.push([key,value]);
			});
			var data = google.visualization.arrayToDataTable(position);
			// Optional; add a title and set the width and height of the chart
			var options = {title:'Different Positions', width:1000, height:350,backgroundColor: '#FA8072',is3D: true};
			// Display the chart inside the <div> element with id="piechart"
			var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
			chart.draw(data, options);
			}
			});
	
  </script>
  
  
  
</head>
<body style="background-color:#FA8072;">
	<aside class="main-sidebar sidebar-dark-olive elevation-4">
		<!-- Brand Logo -->
			<a href="#" class="brand-link">
			  <img src="dist/img/employee.jpg"
				   alt="Employee Logo"
				   class="brand-image img-circle elevation-3">
			  <span class="brand-text font-weight-light">Analysis</span>
			</a>
			<!-- Sidebar -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<li class="nav-item">
					<a href="/createEmployee" class="nav-link">
					<i class="nav-icon far fa-circle text-info"></i>
						<p>Add Employee</p>
					</a>
					</li>
					<li class="nav-item">
					<a href="/" class="nav-link">
					<i class="nav-icon far fa-circle text-info"></i>
						<p class="text">Employee Details</p>
					</a>
					</li>
					<li class="nav-item">
					<a href="/updateEmployeeDetails" class="nav-link">
					<i class="nav-icon far fa-circle text-info"></i>
						<p class="text">Update Employee Details</p>
					</a>
					</li>
					</li>
					<li class="nav-item">
					<a href="/deleteEmployeeDetails" class="nav-link">
					<i class="nav-icon far fa-circle text-info"></i>
						<p class="text">Detele Employee Details</p>
					</a>
					</li>
					<li class="nav-item">
					<a href="/visualizeEmployeeDetails" class="nav-link">
					<i class="nav-icon far fa-circle text-info"></i>
						<p class="text">Visualize Details</p>
					</a>
					</li>
	  
				</ul>
			</nav>
			<!-- /.sidebar -->
		</aside>	
		
		<div style="padding-left:20%" id="piechart1"></div>
		<div style="padding-left:20%" id="piechart2"></div>
			
</body>
</html>